extends layout
block content
	h3 Checkout
	form(name="checkoutForm",
			action="/checkout",
			onsubmit="return validateForm()",
		  method="post",
		  class="form-vertical")

		label(class="control-label col-md-1",for="billingAdress") Billing Address:
		label(class="control-label col-md-1",for="line1") *Address Line 1:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="line1",
				   name="line1",
				   class="form-control",
					value= line1,
					required)

		div(class="clearfix hidden-sm-up")
		
		label(class="control-label col-md-1",for="line2") Address Line 2:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="line2",
				   name="line2",
				   class="form-control",
					value= line2)

		div(class="clearfix hidden-sm-up" )

		label(class="control-label col-md-1",for="city") *City:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="city",
				   name="city",
				   class="form-control",
					value= city,
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="province") Province:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="province",
				   name="province",
				   class="form-control",
					value= province)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="postcode") *Postal code:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="postcode",
				   name="postcode",
				   class="form-control",
					value= postcode,
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="country") *Country:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="country",
				   name="country",
				   class="form-control",
					value= country,
					required)

		div(class="clearfix hidden-sm-up")

    		label(class="control-label col-md-1",for="chippingAdress") Shipping Address:
		label(class="control-label col-md-1",for="line1") *Address Line 1:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="line1",
				   name="line1",
				   class="form-control",
					value= line1,
					required)

		div(class="clearfix hidden-sm-up")
		
		label(class="control-label col-md-1",for="line2") Address Line 2:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="line2",
				   name="line2",
				   class="form-control",
					value= line2)

		div(class="clearfix hidden-sm-up" )

		label(class="control-label col-md-1",for="city") *City:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="city",
				   name="city",
				   class="form-control",
					value= city,
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="province") Province:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="province",
				   name="province",
				   class="form-control",
					value= province)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="postcode") *Postal code:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="postcode",
				   name="postcode",
				   class="form-control",
					value= postcode,
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="country") *Country:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="country",
				   name="country",
				   class="form-control",
					value= country,
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="creditCard") Credit Card Number:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="creditCard",
				   name="creditCard",
				   placeholder="Card Number",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up")
		
		div(class="col-md-offset-1 col-md-1")
			button(type="submit",class="btn btn-primary") Submit
