extends layout
block content

	h3 Register
	form(name="registerForm",
			action="/register",
			onsubmit="return validateForm()",
		  method="post",
		  class="form-vertical")

		label(class="control-label col-md-1",for="firstname") First name:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="firstname",
				   name="firstname",
				   placeholder="First name",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="lastname") Last name:
		div(class="col-md-4 form-group")
			input(type="text",
				   id="lastname",
				   name="lastname",
				   placeholder="Last name",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up")
		
		label(class="control-label col-md-1",for="email") E-Mail:
		div(class="col-md-4 form-group")
			input(type="email",
				   id="email",
				   name="email",
				   placeholder="E-Mail Address",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up" )

		label(class="control-label col-md-1",for="password") Password:
		div(class="col-md-4 form-group")
			input(type="password",
				   id="password",
				   name="password",
				   placeholder="Password",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up")

		label(class="control-label col-md-1",for="confirmPassword") Confirm Password:
		div(id="confirmDiv", class="col-md-4 form-group")
			input(type="password",
				   id="confirmPassword",
				   name="confirmPassword",
				   placeholder="Password",
				   class="form-control",
					required)

		div(class="clearfix hidden-sm-up")

		div(class="col-md-offset-1 col-md-1")
			button(type="submit",class="btn btn-primary") Register
